@import 'tailwindcss';

@theme {
  /* LAVENDER */
  --color-lavender-200: #eae6f9;

  /* PURPLE */
  --color-purple-50: #9582d9;
  --color-purple-100: #705abf;
  --color-purple-500: #795fcd;
  --color-purple-700: #544191;
  --color-purple-900: #6d5da6;

  /* BLUE */
  --color-blue-50: #c9daff;
  --color-blue-100: #5a82bf;
  --color-blue-300: #4d6bce;
  --color-blue-500: #5d67a6;
  --color-blue-700: #414591;

  /* GREEN */
  --color-green-50: #b3e5cf;
  --color-green-100: #7ad2aa;
  --color-green-500: #45c089;
  --color-green-700: #34986b;

  /* ORANGE */
  --color-orange-50: #f5cfa3;
  --color-orange-100: #f0b675;
  --color-orange-500: #eda85a;
  --color-orange-700: #cf7817;

  /* RED */
  --color-red-50: #e2838e;
  --color-red-100: #d85a69;
  --color-red-500: #d03749;
  --color-red-700: #922633;

  /* GREY */
  --color-grey-25: #fafafa;
  --color-grey-50: #f2f7fd;
  --color-grey-100: #e9eff5;
  --color-grey-500: #a0a9b3;
  --color-grey-700: #444250;
}

#root {
  width: 100%;
  min-height: 100svh;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f2f7fd;
}
